/* Define some variables */
:root {
  --header-color: rgb(201,171,32);
  --header-shadow-color: rgba(201,171,32,20%);
  --box-shadow-color: rgba(0,0,0,50%);
  --collection-border-color: rgba(255,255,255,50%);
}

/* Primary block layout - defined in page_layout.css */

/* Currently selected page - add bottom border (and adjust padding) */
a#home:link {
  padding-bottom: 0.6em;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
}
a#home:hover {
  padding: 1.05em 1.05em 0.7em 1.05em;
}


/* Mainbar layout (page-specific content) */

h1 {
  text-align: center;
  font-family: Georgia, serif;
  color: var(--header-color);
  font-size: 5em;
  text-shadow: 5px 5px 10px var(--header-shadow-color);
  margin: 1em;
}

/* Styling the image collection, for all screen sizes */
#image-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 2px dotted var(--collection-border-color);
  border-radius: 0.25em;
  margin: 5em;
}
#image-collection legend {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2.5em;
  font-variant: small-caps;
}
.showcase-img {
  display: block;
  margin: 2em 1em;
  width: 100%;
  height: auto;
}
.showcase-img img {
  width: 100%; 
  height: auto;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
  transition: transform 0.3s ease-in-out;
}

/* Increase to multiple images per line for larger screens */
@media screen and (min-width: 1000px) {
  #image-collection legend {
    font-size: 1.5em;
  }

  img.paperImage {height: 300px; width: 300px;}
  .showcase-img {
    display: block;
    margin: 5px;
    max-height: 260px;
    max-width: 260px;
  }
  .showcase-img {
    max-height: 300px;
    max-width: 300px;
  }
  .showcase-img:hover img {
    transform: scale(1.65);
    box-shadow: 8px 8px 16px var(--box-shadow-color);
  }
}